.mainSession {
    text-align: center;
    padding-bottom: 10vmin;
}

.post {
    background-color: white;
    border: 1px solid silver;
    padding: 2vmin 2vmin 2vmin 3vmin;
    border-radius: 2.5vmin;
    width: 60%;
    margin: 0.8vmin 20%;
    text-align: left;
    display: grid;
}
.profile-post {
    float: left;
    display: flex;
    margin-bottom: 1vmin;
}
.profile-post img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.profile-post-name {
    display: grid;
}

.profile-post h5 {
    margin: 0.2vmin 1.5vmin;
}

.newPost {
    width: 60%;
    margin: auto 20%;
}

textarea {
    width: 100%;
    resize: none;
    height: 9vmin;
    padding: 1vmin;
    border: 1px solid silver;
    border-radius: 2.5vmin;
    font-family: 'Exo 2', sans-serif;
}


.newPost h6 {
    text-align: left;
    margin: 0.8vmin;
}

.newPost button{
    font-family: 'Exo 2', sans-serif;
    font-size: 2vmin;
    font-weight: bold;
    color: white;
    background-color: #FF005C;
    outline: none;
    border: none;
    width: 12vmin;
    height: 5vmin;
    border-radius: 8px;
    margin: 1vmin;
    cursor: pointer;
    transition: 0.3s;
}

.newPost button:hover {
    transform: scale(1.05);
}