nav#navbar {
    height: 7vmin;
    width: 100%;
    background-color: silver;
    position: fixed;
    bottom: 0;
}

nav #items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    cursor: pointer;
}

nav #items li {
    transition: 0.1s;
}

nav #items li {
    border-top:  silver 3px solid;
}
nav #items li:hover {
    border-top: #00BACF 3px solid;
    color: #00BACF;
    text-shadow: #00BACF 0px 0px 3px;
}


nav i {
    font-size: 3.5vmin;
    padding: 1.5vmin 0;
}

nav li {
    list-style: none;
}